In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os

In [2]:
URL = "https://www.iqair.com/world-most-polluted-countries"



html = requests.get(URL)
soup = BeautifulSoup(html.content, 'html.parser')

In [4]:
Country_ = soup.find_all("div", class_="country-name")
Country_[1].text

' Pakistan '

In [5]:
AQI_ = soup.find_all("td", class_="mat-cell cdk-cell table--cell__2018__country has-single-badge is-radius-left is-radius-right cdk-column-avg2020 mat-column-avg2020 ng-star-inserted")

AQI_[1].text

' 59.00 '

In [7]:
length = len(Country_)
print(length)

results = np.empty(length)

106

In [8]:
Country = np.empty(length, dtype='S30')
AQI = np.empty(length, dtype='S10')

for i in range(0, length):
   Country[i] = Country_[i].text
   AQI[i] = AQI_[i].text


print(Country)

[b' Bangladesh ' b' Pakistan ' b' India ' b' Mongolia ' b' Afghanistan '
 b' Oman ' b' Qatar ' b' Kyrgyzstan ' b' Indonesia '
 b' Bosnia Herzegovina ' b' Bahrain ' b' Nepal ' b' Mali ' b' China '
 b' Kuwait ' b' Tajikistan ' b' North Macedonia ' b' Uzbekistan '
 b' Myanmar ' b' United Arab Emirates ' b' Vietnam ' b' Bulgaria '
 b' Iran ' b' Ghana ' b' Montenegro ' b' Uganda ' b' Armenia ' b' Serbia '
 b' Saudi Arabia ' b' Laos ' b' Sri Lanka ' b' Ivory Coast '
 b' Kazakhstan ' b' Thailand ' b' Croatia ' b' Cambodia ' b' Georgia '
 b' Algeria ' b' Madagascar ' b' Kosovo ' b' South Korea ' b' Chile '
 b' Guatemala ' b' Ukraine ' b' Mexico ' b' Turkey ' b' Italy '
 b' Greece ' b' South Africa ' b' Peru ' b' Macao SAR ' b' Turkmenistan '
 b' Poland ' b' Israel ' b' Albania ' b' Cyprus ' b' Romania '
 b' Malaysia ' b' Colombia ' b' Hong Kong SAR ' b' Slovakia ' b' Taiwan '
 b' Jordan ' b' Ethiopia ' b' Hungary ' b' Argentina ' b' Kenya '
 b' Brazil ' b' Angola ' b' Philippines ' b' Czech Republic ' b' Malta '
 b' Singapore ' b' Lithuania ' b' Latvia ' b' Senegal ' b' France '
 b' Austria ' b' Curacao ' b' Spain ' b' Germany ' b' Japan '
 b' Netherlands ' b' USA ' b' Denmark ' b' Russia ' b' Portugal '
 b' Luxembourg ' b' Switzerland ' b' Belgium ' b' Ireland '
 b' United Kingdom ' b' Costa Rica ' b' Ecuador ' b' Australia '
 b' Andorra ' b' Canada ' b' Iceland ' b' New Zealand ' b' Estonia '
 b' Norway ' b' Finland ' b' Sweden ' b' U.S. Virgin Islands '
 b' New Caledonia ' b' Puerto Rico ']

In [ ]:
print(Country)

[b' Bangladesh ' b' Pakistan ' b' India ' b' Mongolia ' b' Afghanistan '
 b' Oman ' b' Qatar ' b' Kyrgyzstan ' b' Indonesia '
 b' Bosnia Herzegovina ' b' Bahrain ' b' Nepal ' b' Mali ' b' China '
 b' Kuwait ' b' Tajikistan ' b' North Macedonia ' b' Uzbekistan '
 b' Myanmar ' b' United Arab Emirates ' b' Vietnam ' b' Bulgaria '
 b' Iran ' b' Ghana ' b' Montenegro ' b' Uganda ' b' Armenia ' b' Serbia '
 b' Saudi Arabia ' b' Laos ' b' Sri Lanka ' b' Ivory Coast '
 b' Kazakhstan ' b' Thailand ' b' Croatia ' b' Cambodia ' b' Georgia '
 b' Algeria ' b' Madagascar ' b' Kosovo ' b' South Korea ' b' Chile '
 b' Guatemala ' b' Ukraine ' b' Mexico ' b' Turkey ' b' Italy '
 b' Greece ' b' South Africa ' b' Peru ' b' Macao SAR ' b' Turkmenistan '
 b' Poland ' b' Israel ' b' Albania ' b' Cyprus ' b' Romania '
 b' Malaysia ' b' Colombia ' b' Hong Kong SAR ' b' Slovakia ' b' Taiwan '
 b' Jordan ' b' Ethiopia ' b' Hungary ' b' Argentina ' b' Kenya '
 b' Brazil ' b' Angola ' b' Philippines ' b' Czech Republic ' b' Malta '
 b' Singapore ' b' Lithuania ' b' Latvia ' b' Senegal ' b' France '
 b' Austria ' b' Curacao ' b' Spain ' b' Germany ' b' Japan '
 b' Netherlands ' b' USA ' b' Denmark ' b' Russia ' b' Portugal '
 b' Luxembourg ' b' Switzerland ' b' Belgium ' b' Ireland '
 b' United Kingdom ' b' Costa Rica ' b' Ecuador ' b' Australia '
 b' Andorra ' b' Canada ' b' Iceland ' b' New Zealand ' b' Estonia '
 b' Norway ' b' Finland ' b' Sweden ' b' U.S. Virgin Islands '
 b' New Caledonia ' b' Puerto Rico ']

In [9]:
print(AQI)

[b' 77.10 ' b' 59.00 ' b' 51.90 ' b' 46.60 ' b' 46.50 ' b' 44.40 '
 b' 44.30 ' b' 43.50 ' b' 40.70 ' b' 40.60 ' b' 39.70 ' b' 39.20 '
 b' 37.90 ' b' 34.70 ' b' 34.00 ' b' 30.90 ' b' 30.60 ' b' 29.90 '
 b' 29.40 ' b' 29.20 ' b' 28.00 ' b' 27.50 ' b' 27.20 ' b' 26.90 '
 b' 26.10 ' b' 26.10 ' b' 24.90 ' b' 24.30 ' b' 23.30 ' b' 22.40 '
 b' 22.40 ' b' 21.90 ' b' 21.90 ' b' 21.40 ' b' 21.20 ' b' 21.10 '
 b' 20.40 ' b' 20.20 ' b' 20.00 ' b' 20.00 ' b' 19.50 ' b' 19.30 '
 b' 19.20 ' b' 19.20 ' b' 18.90 ' b' 18.70 ' b' 18.50 ' b' 18.40 '
 b' 18.00 ' b' 17.90 ' b' 17.80 ' b' 17.00 ' b' 16.90 ' b' 16.90 '
 b' 16.00 ' b' 15.80 ' b' 15.80 ' b' 15.60 ' b' 15.60 ' b' 15.40 '
 b' 15.30 ' b' 15.00 ' b' 14.90 ' b' 14.70 ' b' 14.30 ' b' 14.20 '
 b' 14.20 ' b' 14.20 ' b' 13.00 ' b' 12.80 ' b' 12.30 ' b' 11.80 '
 b' 11.80 ' b' 11.70 ' b' 11.30 ' b' 11.20 ' b' 11.10 ' b' 10.90 '
 b' 10.50 ' b' 10.40 ' b' 10.10 ' b' 9.80 ' b' 9.70 ' b' 9.60 ' b' 9.40 '
 b' 9.30 ' b' 9.10 ' b' 9.00 ' b' 9.00 ' b' 8.90 ' b' 8.60 ' b' 8.30 '
 b' 8.20 ' b' 7.60 ' b' 7.60 ' b' 7.40 ' b' 7.30 ' b' 7.20 ' b' 7.00 '
 b' 5.90 ' b' 5.70 ' b' 5.00 ' b' 5.00 ' b' 3.70 ' b' 3.70 ' b' 3.70 ']

In [10]:
df = pd.DataFrame(Country)

# // Name the column
df.columns = ['Country']

df['AQI'] = AQI

print(df)

                      Country         AQI
0             b' Bangladesh '  b' 77.10 '
1               b' Pakistan '  b' 59.00 '
2                  b' India '  b' 51.90 '
3               b' Mongolia '  b' 46.60 '
4            b' Afghanistan '  b' 46.50 '
..                        ...         ...
101              b' Finland '   b' 5.00 '
102               b' Sweden '   b' 5.00 '
103  b' U.S. Virgin Islands '   b' 3.70 '
104        b' New Caledonia '   b' 3.70 '
105          b' Puerto Rico '   b' 3.70 '

[106 rows x 2 columns]

In [12]:
df['Country'] = df['Country'].str.decode("utf-8")
df['AQI'] = df['AQI'].str.decode("utf-8")


print(df)

                   Country      AQI
0              Bangladesh    77.10
1                Pakistan    59.00
2                   India    51.90
3                Mongolia    46.60
4             Afghanistan    46.50
..                     ...      ...
101               Finland     5.00
102                Sweden     5.00
103   U.S. Virgin Islands     3.70
104         New Caledonia     3.70
105           Puerto Rico     3.70

[106 rows x 2 columns]

In [ ]:
df.columns

Index(['Country', 'AQI'], dtype='object')